/* src/styles/Home.css */

.home-page {
  padding: 1rem;
  max-width: 90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* .search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar input {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.search-bar .search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar .search-button:hover {
  background-color: #79a4d2;
} */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  background-color: #F9F9F9;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  color: #333;
  background-color: transparent;
}

.search-bar input::placeholder {
  color: #A0A0A0;
}

.search-bar .search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.search-bar .search-button svg {
  width: 24px;
  height: 24px;
  fill: #333;
}

.task-summary {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.task-box {
  flex: 1;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin: 0 0.5rem;
}

.task-box:hover {
  transform: scale(1.05);
}

.task-box.completed {
  color: #28a745;
}

.task-box.incomplete {
  color: #ffae42;
}

.task-box h3 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.3rem;
}

.task-box p {
  font-size: 1.4rem;
  font-weight: bold;
}

.add-task-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1rem auto;
  transition: background-color 0.3s ease;
}

.add-task-btn:hover {
  background-color: #0056b3;
}

.weekly-progress {
  margin: 1rem 0;
}

.date-carousel {
  display: flex;
  overflow-x: auto;
  padding: 0.5rem 0;
  margin: 1rem auto;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

.date-button {
  min-width: 45px;
  padding: 0.3rem;
  margin: 0 0.3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.date-button.selected {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}

.date-button .day {
  font-size: 0.7rem;
  color: #888;
}

.date-button .date {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}
