/* Home Page Styles */
.home-page {
    padding: 20px;
  }
  
  /* Search Bar Styling */
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
  }
  
  .search-button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  /* Add Task Button */
  .add-task-btn {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-task-btn:hover {
    background-color: #0056b3;
  }
  /* src/styles/Home.css */
.task-summary {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 45%;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.task-box.completed {
  background-color: #d4edda;
  color: #155724;
}

.task-box.incomplete {
  background-color: #f8d7da;
  color: #721c24;
}

.task-box:hover {
  transform: translateY(-5px);
}

.task-box h3 {
  font-size: 1.1rem;
  margin: 0;
}

.task-box p {
  font-size: 1.5rem;
  font-weight: bold;
}
